@model DevIO.App.ViewModels.ProdutoViewModel

@{
    ViewData["Title"] = "Detalhes do Produto - " + Model.Nome;
}

    <h4 style="padding-top:50px">@ViewData["Title"]</h4>
    <hr />
    <div class="row">

        <div class="col-md-4">
            <img src="~/imagens/@Model.Imagem" alt="@Model.Imagem" style="width:300px; height:428px;" />
        </div>

        <div class="col-md-6">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd >
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt >
                    @Html.DisplayNameFor(model => model.Descricao)
                </dt>
                <dd >
                    @Html.DisplayFor(model => model.Descricao)
                </dd>
                <dt >
                    @Html.DisplayNameFor(model => model.Imagem)
                </dt>
                <dd >
                    @Html.DisplayFor(model => model.Imagem)
                </dd>
                <dt >
                    @Html.DisplayNameFor(model => model.Valor)
                </dt>
                <dd >
                    @Model.Valor.ToString("C")
                </dd>
                <dt >
                    @Html.DisplayNameFor(model => model.Ativo)
                </dt>
                <dd >
                    @Html.DisplayFor(model => model.Ativo)
                </dd>
                <dt >
                    @Html.DisplayNameFor(model => model.Fornecedor)
                </dt>
                <dd >
                    @Html.DisplayFor(model => model.Fornecedor.Documento)
                </dd>
            </dl>

            <div>
                <input type="submit" value="Editar" class="btn btn-dark" />
                <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
            </div>
        </div>
</div>  
    
